# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.env*
.venv/

# Streamlit
.streamlit/

# Data files
*.csv
*.sqlite3

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
